.movietype{
	text-transform: capitalize;
    background: #007bff;
    border-radius: 3px;
    padding: 1px 10px 3px;
    line-height: normal;
    display: inline-block;
    color: #fff;
}
footer{
	background:#333;
	padding:10px 0px;
}
.flist{
	padding-left:0px;
	margin-bottom:0px;
	list-style:none;
}
.flist li{
	display:inline-block;
	position:relative;
}
.flist li a{
	color:#fff;
}
.flist li:after{
	content:'|';
	margin-left:10px;
	margin-right:10px;
	color:#fff;
}
.flist li:last-of-type:after{
	content:'';
	margin-left:0px;
	margin-right:0px;
}
footer p{
color:#fff;
}


@media (max-width: 767px){
	.d-flex.resp{
		display:block !important;
	}

}